In [1]:
import pandas as pd
import numpy as np

In [12]:
df = pd.read_csv('data/ucADM.csv', encoding='utf-16', delimiter='\t')
df = df.rename(columns={'Unnamed: 0': 'Race', 'Unnamed: 1': 'Type'})
df['Type'] = df['Type'].replace({'adm redacted calc along Characteristics FR': 'number', 'adm redacted percent calc along Characteristics FR': 'percent'})
df.head()

,Race,Type,1994,1995,1996,1997,1998,1999,2000,2001,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,African American,number,"1,699","1,776","1,687","1,633","1,427","1,512","1,619","1,820",...,"3,349","3,369","4,358","4,352","4,444","4,406","5,170","6,839","6,399","6,559"
1,African American,percent,4%,4%,4%,4%,3%,3%,3%,3%,...,4%,4%,4%,4%,4%,4%,4%,5%,5%,5%
2,American Indian,number,337,423,383,334,340,312,308,347,...,561,529,544,561,507,439,476,560,687,766
3,American Indian,percent,1%,1%,1%,1%,1%,1%,1%,1%,...,1%,1%,1%,1%,0%,0%,0%,0%,1%,1%
4,Asian,number,"12,622","12,642","13,587","14,412","14,473","15,913","16,555","17,863",...,"27,410","27,722","30,248","30,302","32,138","32,567","36,034","38,738","39,264","40,719"

'adm redacted percent calc along Characteristics FR'