In [41]:
import pandas as pd
import numpy as np

In [42]:
df = pd.read_csv('data/ucADM.csv', encoding='utf-16', delimiter='\t')
df = df.rename(columns={'Unnamed: 0': 'Race', 'Unnamed: 1': 'Type'})
df['Type'] = df['Type'].replace({'adm redacted calc along Characteristics FR': 'number', 'adm redacted percent calc along Characteristics FR': 'percent'})
df

,Race,Type,1994,1995,1996,1997,1998,1999,2000,2001,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,African American,number,"1,699","1,776","1,687","1,633","1,427","1,512","1,619","1,820",...,"3,349","3,369","4,358","4,352","4,444","4,406","5,170","6,839","6,399","6,559"
1,African American,percent,4%,4%,4%,4%,3%,3%,3%,3%,...,4%,4%,4%,4%,4%,4%,4%,5%,5%,5%
2,American Indian,number,337,423,383,334,340,312,308,347,...,561,529,544,561,507,439,476,560,687,766
3,American Indian,percent,1%,1%,1%,1%,1%,1%,1%,1%,...,1%,1%,1%,1%,0%,0%,0%,0%,1%,1%
4,Asian,number,"12,622","12,642","13,587","14,412","14,473","15,913","16,555","17,863",...,"27,410","27,722","30,248","30,302","32,138","32,567","36,034","38,738","39,264","40,719"
5,Asian,percent,32%,30%,31%,32%,31%,32%,32%,31%,...,31%,30%,29%,29%,30%,30%,30%,29%,31%,31%
6,Hispanic/Latino(a),number,"5,835","6,237","5,886","5,877","5,655","6,018","6,561","7,708",...,"19,246","19,340","24,377","24,414","25,078","26,247","30,468","34,279","34,121","36,381"
7,Hispanic/Latino(a),percent,15%,15%,14%,13%,12%,12%,13%,14%,...,22%,21%,23%,23%,23%,24%,26%,26%,27%,28%
8,Pacific Islander,number,147,164,149,147,150,202,214,208,...,230,254,237,257,265,259,265,341,296,321
9,Pacific Islander,percent,0%,0%,0%,0%,0%,0%,0%,0%,...,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%
10,White,number,"16,232","17,187","17,999","19,067","17,293","20,555","20,783","22,516",...,"22,442","22,134","25,073","23,941","22,874","22,469","23,503","27,682","24,079","25,578"
11,White,percent,41%,41%,42%,43%,36%,41%,40%,40%,...,25%,24%,24%,23%,21%,21%,20%,21%,19%,20%
12,Unknown,number,"2,229","2,576","3,061","2,472","7,450","4,492","4,892","5,327",...,"2,433","2,754","3,071","2,928","3,232","2,877","3,581","3,427","3,161","3,425"
13,Unknown,percent,6%,6%,7%,6%,16%,9%,9%,9%,...,3%,3%,3%,3%,3%,3%,3%,3%,3%,3%
14,International,number,508,720,549,798,639,762,874,"1,081",...,"13,514","15,277","17,169","18,067","18,901","18,404","18,745","19,796","17,226","17,418"
15,International,percent,1%,2%,1%,2%,1%,2%,2%,2%,...,15%,17%,16%,17%,18%,17%,16%,15%,14%,13%

In [43]:
df_new = df.T
print(df_new.columns.to_list())

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [44]:
df_new = df_new.drop(columns=[0, 2, 4, 6, 8, 10, 12, 14])

In [45]:
df_new = df_new.rename(columns={1: 'AfricanAmerican', 3: 'AmericanIndian', 5: 'Asian', 7: 'Hispanic/Latino(a)', 9: 'PacificIslander', 11: 'White',
                       13: 'Unknown', 15: 'International'})
df_final = df_new.iloc[2::]
df_final = df_final.replace(to_replace='%', value='', regex=True).astype(int).drop(columns=['PacificIslander'])
df_final = df_final.reset_index().rename(columns={'index': 'year'})

In [46]:
df_final

,year,AfricanAmerican,AmericanIndian,Asian,Hispanic/Latino(a),White,Unknown,International
0,1994,4,1,32,15,41,6,1
1,1995,4,1,30,15,41,6,2
2,1996,4,1,31,14,42,7,1
3,1997,4,1,32,13,43,6,2
4,1998,3,1,31,12,36,16,1
5,1999,3,1,32,12,41,9,2
6,2000,3,1,32,13,40,9,2
7,2001,3,1,31,14,40,9,2
8,2002,3,1,32,14,40,8,1
9,2003,4,1,31,15,39,10,2
10,2004,3,1,32,15,38,9,2
11,2005,3,1,32,16,39,7,2
12,2006,4,1,34,17,36,7,2
13,2007,4,1,33,18,36,6,2
14,2008,4,1,31,19,35,6,3
15,2009,4,1,32,20,34,5,3
16,2010,4,1,32,21,32,5,5
17,2011,4,1,33,22,30,2,7
18,2012,4,1,32,22,28,3,10
19,2013,4,1,31,21,27,3,13
20,2014,4,1,31,22,25,3,15
21,2015,4,1,30,21,24,3,17
22,2016,4,1,29,23,24,3,16
23,2017,4,1,29,23,23,3,17
24,2018,4,0,30,23,21,3,18
25,2019,4,0,30,24,21,3,17
26,2020,4,0,30,26,20,3,16
27,2021,5,0,29,26,21,3,15
28,2022,5,1,31,27,19,3,14
29,2023,5,1,31,28,20,3,13

In [47]:
df_final.to_csv('data/ucDemoData.csv')

In [48]:
import os

files_to_skip = ['ucAdm.csv', 'ucDemoData.csv', 'ucRaceData.csv', '.DS_Store']
dfs = {}

for fname in os.listdir('data/oneYear'):
    if fname in files_to_skip:
        continue

    college = fname.split('D')[0]

    df = pd.read_csv(f'data/oneYear/{fname}', encoding='utf-16', delimiter='\t')
    df = df.rename(columns={'Unnamed: 0': 'Race', 'Unnamed: 1': 'Type'})
    df['Type'] = df['Type'].replace({'adm redacted calc along Characteristics FR': 'number', 'adm redacted percent calc along Characteristics FR': 'percent'})
    df_new = df.T.drop(columns=[0, 2, 4, 6, 8, 10, 12, 14])
    df_new = df_new.rename(columns={1: 'AfricanAmerican', 3: 'AmericanIndian', 5: 'Asian', 7: 'Hispanic/Latino(a)', 9: 'PacificIslander', 11: 'White',
                       13: 'Unknown', 15: 'International'})
    
    df_final = df_new.iloc[2::]
    df_final = df_final.replace(to_replace='%', value='', regex=True).astype(int)
    df_final['college'] = college
    df_final = df_final.reset_index().drop(columns=['index'])

    dfs[college] = df_final

In [49]:
final_df = pd.concat(list(dfs.values())).reset_index(drop=True).drop(columns=['PacificIslander'])
final_df.to_csv('data/ucCollege.csv')

In [50]:
files_to_skip = ['ucAdm.csv', 'ucDemoData.csv', 'ucRaceData.csv', '.DS_Store']
dfs = {}

for fname in os.listdir('data/allYears'):
    if fname in files_to_skip:
        continue

    college = fname.split('Years')[1][:-4]

    df = pd.read_csv(f'data/allYears/{fname}', encoding='utf-16', delimiter='\t')
    df = df.rename(columns={'Unnamed: 0': 'Race', 'Unnamed: 1': 'Type'})
    df['Type'] = df['Type'].replace({'adm redacted calc along Characteristics FR': 'number', 'adm redacted percent calc along Characteristics FR': 'percent'})
    df_new = df.T.drop(columns=[0, 2, 4, 6, 8, 10, 12, 14])
    df_new = df_new.rename(columns={1: 'AfricanAmerican', 3: 'AmericanIndian', 5: 'Asian', 7: 'Hispanic/Latino(a)', 9: 'PacificIslander', 11: 'White',
                       13: 'Unknown', 15: 'International'})
    
    df_final = df_new.iloc[2::].fillna(0)
    df_final = df_final.replace(to_replace='%', value='', regex=True).astype(int).drop(columns=['PacificIslander'])
    df_final = df_final.reset_index().rename(columns={'index': 'year'})

    dfs[college] = df_final

    df_final.to_csv(f'data/all{college}.csv')

In [51]:
dfs['Merced']

,year,AfricanAmerican,AmericanIndian,Asian,Hispanic/Latino(a),White,Unknown,International
0,1994,0,0,0,0,0,0,0
1,1995,0,0,0,0,0,0,0
2,1996,0,0,0,0,0,0,0
3,1997,0,0,0,0,0,0,0
4,1998,0,0,0,0,0,0,0
5,1999,0,0,0,0,0,0,0
6,2000,0,0,0,0,0,0,0
7,2001,0,0,0,0,0,0,0
8,2002,0,0,0,0,0,0,0
9,2003,0,0,0,0,0,0,0
10,2004,0,0,0,0,0,0,0
11,2005,4,1,34,19,36,5,0
12,2006,5,1,35,20,33,6,0
13,2007,5,1,32,22,33,6,1
14,2008,5,1,30,23,34,6,1
15,2009,5,1,30,25,35,4,1
16,2010,5,1,30,25,32,5,1
17,2011,6,1,35,33,21,2,2
18,2012,6,1,34,37,17,2,2
19,2013,5,1,34,39,17,2,2
20,2014,5,1,34,40,16,2,3
21,2015,5,0,33,41,14,2,4
22,2016,5,0,29,45,13,2,4
23,2017,6,0,28,48,12,2,4
24,2018,5,0,28,50,11,2,3
25,2019,5,0,28,49,11,2,4
26,2020,6,0,26,51,10,3,4
27,2021,6,0,29,46,11,2,5
28,2022,6,0,31,42,12,2,6
29,2023,6,0,33,40,11,2,7